body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}
/* ------------header ----------------*/
header {
    width: 100%;
    border-top: 24px solid #28388f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
}

.logo {
    height: 73px;
}

.navContainer {
    display: flex;
}

.navContainer li a{
    margin: 0px 10px;
    color: #28388f;
    position: relative;
    display: flex;
    font-size: 14px;
    font-weight: 700;
}

.navContainer li a:link{
    text-decoration: none;
    outline: none;
}
.navContainer li a:visited{
    text-decoration: none;
    outline: none;
}
.navContainer li a:active{
    text-decoration: none;
    outline: none;
}

.navContainer li a:hover::before{
    content: '';
    position: absolute;
    top: -10px;
    padding: 2px 50%;
    background-color: #52C1D9;
}

#search {
    outline: none;
    border-radius: 15px;
    border-color: #28388f;
    padding: 5px 0;
    padding-left: 16%;
}

#search::placeholder {
    color: #28388f;
    padding-left: 8%;
}

.searchContainer {
    position: relative;
}
.searchContainer i{
    position: absolute;
    right: 15px;
    align-self: center;
    top: 25%;
    color: #54C5DC;
}

/* ------------Home-------------- */

.home {
    width: 100%;
    height: 1028px;
    background-image: url("img/bg-home.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: khaki;
}

.home__content {
    right: 15vw;
    position: absolute;
    top: 176px;
}

.home__content h1 {
    font-size: 32px;
}

.home__content-title {
    color: #28388f;
}

.home__content-sub{
    color: #32c1d9;
}

.home__content-desc {
    color: #999999;
    font-size: 16px;
}

.home__content-desc span{
    color: #32c1d9;
}

.home__content h3 {
    font-size: 22px;
    color: #28388f;
}

.home__content-contact {
    display: flex;
    align-items: center;
    border: 1px solid #32c1d9;
    width: 350px;
    height: 50px;
}

.home__content-tel {
    color: #32c1d9;
    font-size: 24px;
    width: 60%;
    align-self: center;
    text-align: center;
}


.home__content-call {
    background-color: #32c1d9;
    font-size: 12px;
    color: white;
    height: 100%;
    width: 42%;
    align-self: center;
    text-align: center;
}

.home__content-call p{
    position: absolute;
    bottom: 15px;
    left: 250px;
}

.home__content-call::before {
    content: " ";
    left: 0;
    top: 50%;
    transform: translateY(60%);
    display: block;


    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 20.6px;
    border-color: transparent transparent transparent white;
}